@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#cart{
    position: fixed;
    height: 95%;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 70px;
}
.cart-holder {
    border:2px;
    border-color: rgb(65, 238, 238);
    border-style: solid;
    border-radius: 5px;
    font-size: 25px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    top: 9px;
    right: 9px;
    text-decoration: none;
    color:white;
    
}
.cart-count{
    
    color:tomato;
    
}

header ul{
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    height:50px;
    background-color: black;
    color:white;
    text-align: center;
    list-style: none;
}
.nav-li{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 60px;
    text-decoration: none;
    color:white;

    
}
header li{
    padding-top: 15px;

}
header h1{
    margin-top: 55px;
    text-align: center;
    font-size: 130px;
    background-color: gray;
    color: white;
    height:150px;
}
.music123{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.merch{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.product{
    border: 2px;
    border-style: solid;
    border-color: black;
    width:250px;
    overflow: hidden;
    height: 300px;
    
    
    /* display: flex;
    margin: 8px;
    align-items: center;
    justify-content: space-between; */


}
.imagediv{
    width:250px;
    overflow: hidden;
    height: 250px;
    
}
.product h3{
    text-align: center;
}
.productdetails{
    display: flex;
    padding-top: 2px;
}
.prodimg{
    transform-origin: center center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding:0px;
    margin:0px;
    transition: ease-in-out 0.5s;
    filter: brightness(100%);
}
.prodimg:hover{
    transform: scale(1.5);
    filter: brightness(130%);
}
.shopaddingbutton{
  margin-left: 110px;
  cursor:pointer;
    padding:8px;
    color:white;
    border:none;
    font-size:15px;
    font-weight: bold;
    border-radius: 4%;
    background: #56CCF2;
}
.coffeimg{
    width:300px;
}
.About{
    display: flex;
    margin-left: 240px;
    height: 30rem;
    width: 60rem;
    text-align: center;
}
.About p{
    height:22rem;
}
.imgplayer{
    height:250px;
    width:250px;
    border-radius: 50%;


}
.latestalbums{
    text-align: center;
    align-items: center;

}
.generics11{
    text-align: center;
    align-items: center;
    background-color: grey;
    padding:10px;

}
header .latest-album{
    display:block;
    border:1px solid #56CCF2;
    padding:15px 30px;
    font-size:23px;
    font-weight: 200;
    margin:10px auto;
    background: inherit;
    cursor: pointer;
    color:white;
}
header .play-btn{
    cursor: pointer;
    display:block;
    border:2px solid #56CCF2;
    border-radius:50%;
    padding:20px;
    font-size:30px;
    font-weight: 200;
    margin:20px auto;
    background: inherit;
    color:#56CCF2;
}
.Tours{
    
    /* background-color: black; */
    margin-left: 350px;
    /* color:white; */
    width: 50%;
    height:fit-content;
    padding:3rem;

}
.event{
    display:flex;
    border-bottom:1px solid black;
    padding:10px;

}
.date{
    width:12%;
}
.place{
    width:25%;
    color:#777;
}
.specplace{
    width:53%;
    color:#777;
}
.buytickets{
    width:20%;
    background: #56CCF2;
    cursor:pointer;
    color:white;
    border:none;
    padding:7px;
    border-radius:5px;
    font-weight:700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.cart-row{
    font-size:18px;
    display:flex;
    color:black;
}
.cart-header{
    font-size:1.2rem;
    font-weight: bold;
}
.cart-item{
    width:45%;
}
.cart-img{
    width:80px;
    border-radius:8%;
    margin-right:20px;
}
.cart-price{
    width:20%;
}
.cart-quantity{
    width:35%;
}
.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-quantity input{
    width:40px;
    height:30px;
    border:1px solid rgb(0, 204, 255) ;
    border-radius:8%;
    outline:none;
    text-align:center;
    margin-right:20px;
}
.cart-quantity button{
    color:white;
    font-weight: bold;
    background: rgb(231, 76, 76);
    cursor: pointer;
    border:none;
    border-radius:8%;
    height:30px;
    outline:none;
    padding: 0px 7px;
}
.cart-quantity button:hover{
    background: rgb(218, 37, 37);;
}
.cart-total{
    display:flex;
    flex-direction: row-reverse;
    font-size:1.2rem;
    margin:20px;
}
.cart-total .total-title{
    margin-right:10px;
    font-size:1.5rem;
}
.notification {
    background-color: #56CCF2;
    border-radius: 5px;
    color: black;
    padding: 2rem;
    margin: 1rem;
}

.notification h4 span{
    color:rgb(235, 33, 33);
}
#container{
 
        position:fixed;
        bottom:10px;
        right:10px;
    
}



footer{
    color:white;
    background-color: aqua;
    height:150px
}
.generics{
    font-size: 75px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.youtube{
    height:40px;
    margin-top:40px;
    margin-left: 780px;
}
.spotify{
    margin-left: 15px;
    height:40px;
    margin-top:15px;

}
.facebook{
    margin-left: 15px;
    height:40px;
    margin-top:15px;
}

#cart{
    margin:0px;
    display: none;
    position:fixed;
    top:50px;
    height: 95%;
    right:0;
    background-color:rgb(255, 255, 255);
    border:5px solid rgb(177, 103, 103);
    min-height:50vh;
}
#cart h2{
    margin:20px 0px;
    padding:0;
}
.purchase-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top: 50px;
    background: #56CCF2;
    color:white;
    font-size:1.2rem;
    font-weight: bold;
    border:none;
    border-radius:8%;
    padding:12px;
    cursor: pointer;
}
.purchase-btn:hover{
    background-color:#18acdd;
}
.cancel{
    position:absolute;
    cursor:pointer;
    color:rgb(121, 117, 117);
    top:0;
    right:0;
    margin:20px;
    background:none;
    font-size:16px;
    font-weight: 700;
    border:1px solid rgb(121, 117, 117);
    border-radius:7px;
    padding:5px;
}
.cart-btn-bottom{
    display:flex;
    padding:15px;
    background-color: #777;
    border:none;
    border-radius:7px;
    margin:auto;
    cursor:pointer;
}
.cart-bottom{
    text-decoration: none;
    color:#56CCF2;
    font-size: 16px;
    font-weight:700;
}
.pagenation
{
    
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2rem;
    text-align: center;
}
.pagenation a{
    text-decoration:none;
    color: #56CCF2;
    padding: 0.5rem;
    border:1px solid #56CCF2;
    border-radius: 1px;
    margin:0 1rem;
}
.pagenation a:hover,
.pagenation a:active,
.pagenation a.active{
    background-color: #56CCF2;
    color: white;
}